.custom-btn.ant-btn-primary  {
    background-color: #e74c3c;
    outline: none;
    /* display: flex; */
    /* align-items: flex-end; */
    float: right;
    /* margin-right: 80px; */
    margin-top: 10px;
    border: none;
}

.custom-btn.ant-btn-primary:hover  {
    background-color: #eb6556;
}