.star {
    position: relative;
    display: flex;
    /* display: inline-block; */
    width: 0;
    height: 0;
    
    margin-left: .9em;
    margin-right: .9em;
    margin-bottom: 1.2em;
    
    border-right:  .3em solid transparent;

    border-left:   .3em solid transparent;
  
    /* Controlls the size of the stars. */
    font-size: 12px;
    text-align: left;
    
}
.star:before, .star:after {
      content: '';    
      display: block;
      width: 0;
      height: 0;
      
      position: absolute;
      top: .6em;
      left: -1em;
    
      border-right:  1em solid transparent;
    
      border-left:   1em solid transparent;
    
      transform: rotate(-35deg);
    }
    
    .star:after {  
      transform: rotate(35deg);
    }


.star-yellow {
    border-bottom: .7em  solid #FC0;
}

.star-yellow:before, .star-yellow:after {
  border-bottom: .7em  solid #FC0;
}


.star-white {
  border-bottom: .7em  solid rgb(238, 237, 231);
}

.star-white:before, .star-white:after {
   border-bottom: .7em  solid rgb(238, 237, 231);
}
