@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i,500,500i');

.header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 34px;
    background-color: #1abc9c;
    /* background-image: linear-gradient(to right, #159957, #155799); */
    color: rgb(238, 232, 232);
    /* margin: 0; */
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.user-icon {
    float: right;
    font-size: 16px;
    padding-bottom: 10px;
    margin: 14px 30px;
}

.locate-icon {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 14px 30px;
}

svg {
    /* margin-right: 10px; */
    margin-right: 5px;
    padding-top: 2px;
    font-size: 16px;
}

.user-details {
    font-size: 16px;
    padding-bottom: 10px;
    margin: 14px 30px;
}