.custom-radio-field {
    margin-right: 40px;
    font-size: 12px;
}

.custom-radio-field {
    border: 1px solid #ccc;
    /* margin-top: 30px; */
    width: 300px;
    /* margin: 0 auto; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin : 10px auto 0 auto; 
}

.custom-legend {
    display: flex;
    font-size: 14px;
}

[type="radio"]:checked+span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    color: black;
    background-color: yellow;
}

[type="radio"]:not(:checked)+span, [type="radio"]:checked+span {
    padding-left: 25px;
}